Repository IGassmann/web-img-optimizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: preload command
  src/commands/preload.ts
  src/types/global.d.ts
  src/types/image-element.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

docs: add comments to gitignore file
  .gitignore
Due: none

refactor: getDownloadFolder names
  src/commands/optimize.ts
  src/utils/get-download-folder.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

docs: add license file
  UNLICENSE
Due: none

refactor: isWebUrl util function
  src/utils/is-web-url.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: rename method
  src/commands/optimize.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: puppeteer browser into its own class
  src/commands/dimensions.ts
  src/commands/optimize.ts
  src/commands/preload.ts
  src/utils/browser/custom-device-descriptors.ts
  src/utils/browser/device-type.ts
  src/utils/browser/index.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: use custom browser class
  .eslintrc.yml
  src/commands/dimensions.ts
  src/commands/optimize.ts
  src/commands/preload.ts
  src/types/global.d.ts
  src/utils/browser/index.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: move image optimization into its own object
  src/commands/optimize.ts
  src/utils/optimizable-image.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: optimize command
  src/commands/optimize.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

refactor: rename method
  src/commands/dimensions.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

config: remove unused lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.yml
  package.json
Due: prettier --write

config: use babel for transpilling TS on Jest
  babel.config.js
  jest.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

config: ignore cache files
  .gitignore
Due: none

config: add core web vitals keyword
  package.json
Due: prettier --write

docs: update TSDoc for imagemin-giflossy
  src/types/imagemin-giflossy.d.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

test: fix babel transpilation
  src/utils/browser/index.ts
  src/utils/optimizable-image.ts
  tsconfig.json
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

test: disable auto coverage output
  jest.config.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

test: add test for succesful case
  test/commands/dimensions.test.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

test: add missing tests
  src/commands/dimensions.ts
  src/commands/optimize.ts
  src/commands/preload.ts
  test/commands/dimensions.test.ts
  test/commands/optimize.test.ts
  test/commands/preload.test.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

config(eslint): follow airbnb style guide
  .eslintrc.yml
  package.json
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write

refactor: apply Airbnb Style Guide rules
  src/commands/dimensions.ts
  src/commands/optimize.ts
  src/commands/preload.ts
  src/index.ts
  src/utils/browser/custom-device-descriptors.ts
  src/utils/browser/index.ts
  src/utils/get-download-folder.ts
  src/utils/is-web-url.ts
  src/utils/optimizable-image.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

docs: add CONTRIBUTING.md file
  docs/CONTRIBUTING.md
Due: prettier --write

docs(readme): mention CONTRIBUTING.md file
  README.md
Due: prettier --write

docs(readme): fix file link
  README.md
Due: prettier --write

docs(readme): add gif demo
  README.md
Due: prettier --write

chore: release v0.6.0
  package.json
Due: prettier --write

chore: update installer download links
  README.md
Due: prettier --write

build(gh): cache node deps
  .github/workflows/pipelines.yml
Due: prettier --write

feat: use intrinsic image size for dimensions command
  src/commands/dimensions.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

chore: release v0.7.0
  package.json
Due: prettier --write

docs(readme): update installer download links
  README.md
Due: prettier --write

refactor: remove imagemin
  .eslintrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  README.md
  babel.config.js
  build/download-chrome.js
  docs/CONTRIBUTING.md
  jest.config.ts
  package.json
  scripts/download-chrome.js
  src/commands/dimensions.ts
  src/commands/optimize.ts
  src/commands/preload.ts
  src/index.ts
  src/types/global.d.ts
  src/types/image-element.ts
  src/types/imagemin-giflossy.d.ts
  src/types/svgo.d.ts
  src/utils/browser/custom-device-descriptors.ts
  src/utils/browser/device-type.ts
  src/utils/browser/index.ts
  src/utils/get-download-folder.ts
  src/utils/is-web-url.ts
  src/utils/optimizable-image.ts
  test/commands/dimensions.test.ts
  test/commands/optimize.test.ts
  test/commands/preload.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

chore: release v0.8.0
  package.json
Due: prettier --write

build(deps): bump patches
  .github/workflows/pipelines.yml
  jest.config.ts
  package.json
  scripts/download-chrome.js
  src/utils/browser/custom-device-descriptors.ts
  src/utils/browser/index.ts
  test/commands/dimensions.test.ts
  test/commands/optimize.test.ts
  test/commands/preload.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests --findRelatedTests

chore: release v0.8.1
  package.json
Due: prettier --write

build(pipelines): force scoped package for GitHub Registry
  .github/workflows/pipelines.yml
Due: prettier --write

chore: release v0.8.2
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,yml,json,md}
  eslint --fix: any of: *.{ts,js}
  jest --bail --passWithNoTests --findRelatedTests: any of: *.{ts,js}
